.navbar{
    background-color:white;
    border-radius: 10px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    color: aliceblue;
    padding: 12px 5px;
}
.navbar li a{
    padding: 12px 16px;
    text-decoration: none;
    color:black ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.navbar li a:hover{
    background-color: rgb(185, 222, 65);
    color:rgba(12,8, 146, 0.811);